  <section class="features">
    <a id="features" class="anchor"></a>
    <div class="container">
      <div class="row">
        <div class="example col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h3>SSH Demo</h3>
          <textarea class="example-editor"># This demo will be run in a temporary docker container
# For more information on installing the client visit
# https://docs.pritunl.com/docs/ssh-client

# Pull ubuntu xenial
docker pull ubuntu:xenial

# Start ubuntu container
docker run --rm -ti --entrypoint /bin/bash ubuntu:xenial

# Add pritunl repository (copy all lines together)
tee -a /etc/apt/sources.list.d/pritunl.list << EOF
deb http://repo.pritunl.com/stable/apt xenial main
EOF
apt-key adv --keyserver hkp://keyserver.ubuntu.com --recv \
	7568D9BB55FF9E5287D586017AE645C0CF8E292A

# Install openssh and pritunl-ssh
apt update
apt -y install openssh-client ca-certificates pritunl-ssh

# Generate ssh key leave all prompts empty
ssh-keygen
# Enter file in which to save the key (/root/.ssh/id_rsa):
# Enter passphrase (empty for no passphrase):
# Enter same passphrase again:

# Configure pritunl-ssh using the values below
pritunl-ssh
# Enter Pritunl Zero user hostname: zero-demo-ssh.pritunl.com
# Enter key number or full path to key: 1

# Use cmd or ctrl double click to open the link
# Login with demo and approve the ssh key

# Verify strict host checking is working
ssh demo@zero-demo-error.pritunl.com
# Host key verification failed.

# Verify ssh certificate is working
ssh demo@zero-demo-host.pritunl.com
# Successfully authenticated to Pritunl Zero SSH demo</textarea>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Single Sign-On</h3>
              <p>
                Full support for single sign-on with OneLogin, Okta, Google and Azure
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-shield" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Access Policies</h3>
              <p>
                Apply role based policies to users and services to control where and how a user can access a service
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-chrome" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Use Any Browser</h3>
              <p>
                Any web browser can be used to access services, no software or plugins required
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-tty" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>No VPN Client</h3>
              <p>
                Users do not need to install or configure any VPN clients
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Easy Configuration</h3>
              <p>
                Configuration takes only minutes and does not require modifying networks or routing tables
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-code" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Open Source</h3>
              <p>
                All source code for Pritunl Zero is available on GitHub, allowing for transparency and customization
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Scale Easily</h3>
              <p>
                Nodes can be added and removed in minutes with no downtime
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-sitemap" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>High Availability</h3>
              <p>
                All nodes run independently and will continue running in the event of other nodes failing
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-life-ring" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Secure SSH</h3>
              <p>
                Manage SSH access to servers without manually managing authorized keys using SSH certificates and host certificates
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Two-Factor Authentication</h3>
              <p>
                Secure SSH access with two-factor authentication using Duo, Okta or OneLogin
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Teleport Alternative</h3>
              <p>
                Lower cost alternative to Gravitational Teleport with faster implementation
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>ScaleFT Alternative</h3>
              <p>
                Open source and lower cost alternative to ScaleFT
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>