  <section class="features">
    <a id="features" class="anchor"></a>
    <div class="container">
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Single Sign-On</h3>
              <p>
                Full support for single sign-on with OneLogin, Okta, Google and Azure
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-shield" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Access Policies</h3>
              <p>
                Apply access policies to users and services to control where and how a user can access a service
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-chrome" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Use Any Browser</h3>
              <p>
                Any web browser can be used to access services, no software or plugins required
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>No VPN Client</h3>
              <p>
                Users do not need to install or configure any VPN clients
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Easy Configuration</h3>
              <p>
                Configuration takes only minutes and does not require modifying networks or routing tables
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-code" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Open Source</h3>
              <p>
                All source code for Pritunl Zero is available on GitHub, allowing for transparency and customization
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Scale Easily</h3>
              <p>
                Nodes can be added and removed in minutes with no downtime
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-sitemap" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>High Availability</h3>
              <p>
                All nodes run independently and will continue running in the event of other nodes failing
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Encryption</h3>
              <p>
                All traffic between Pritunl Zero and the client is encrypted with ECDSA encryption
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>ScaleFT Alternative</h3>
              <p>
                Open source and lower cost alternative to ScaleFT
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>