  <section class="features">
    <a id="features" class="anchor"></a>
    <div class="container">
      <div class="row">
        <div class="example col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h3>SSH Demo</h3>
          <textarea class="example-editor"># This demo will be run in a temporary docker container
# For more information on installing the client visit
# https://docs.pritunl.com/docs/ssh-client

# Pull oracle linux 7
docker pull oraclelinux:7

# Start oracle linux container
docker run --rm -ti --entrypoint /bin/bash oraclelinux:7

# Add pritunl repository (copy all lines together)
tee /etc/yum.repos.d/pritunl.repo << EOF
[pritunl]
name=Pritunl Repository
baseurl=https://repo.pritunl.com/stable/yum/oraclelinux/7/
gpgcheck=1
enabled=1
EOF
gpg --keyserver hkp://keyserver.ubuntu.com --recv-keys 7568D9BB55FF9E5287D586017AE645C0CF8E292A
gpg --armor --export 7568D9BB55FF9E5287D586017AE645C0CF8E292A > key.tmp
rpm --import key.tmp; rm -f key.tmp

# Install openssh and pritunl-ssh
yum -y install pritunl-ssh

# Generate ssh key leave all prompts empty
ssh-keygen -t ed25519
# Enter file in which to save the key (/root/.ssh/id_ed25519):
# Enter passphrase (empty for no passphrase):
# Enter same passphrase again:

# Configure pritunl-ssh using the values below
pritunl-ssh
# Enter Pritunl Zero user hostname: zero-user.pritunl.com
# Enter key number or full path to key: 1

# Use cmd or ctrl double click to open the link
# Login with demo and approve the ssh key

# Verify ssh certificate is working
ssh git@bastion.gitlab.pritunl.com
# Pritunl Zero Bastion Host
# Connection to bastion.gitlab.pritunl.com closed.</textarea>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Single Sign-On</h3>
              <p>
                Full support for single sign-on with OneLogin, Okta, Google and Azure
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-shield" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Access Policies</h3>
              <p>
                Apply role based policies to users and services to control where and how a user can access a service
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-chrome" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Use Any Browser</h3>
              <p>
                Any web browser can be used to access services, no software or plugins required
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-tty" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>No VPN Client</h3>
              <p>
                Users do not need to install or configure any VPN clients
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-cogs" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Easy Configuration</h3>
              <p>
                Configuration takes only minutes and does not require modifying networks or routing tables
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-code" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Open Source</h3>
              <p>
                All source code for Pritunl Zero is available on GitHub, allowing for transparency and customization
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Scale Easily</h3>
              <p>
                Nodes can be added and removed in minutes with no downtime
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-sitemap" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>High Availability</h3>
              <p>
                All nodes run independently and will continue running in the event of other nodes failing
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-life-ring" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Secure SSH</h3>
              <p>
                Manage SSH access to servers without manually managing authorized keys using SSH certificates and host certificates
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Two-Factor Authentication</h3>
              <p>
                Secure SSH access with two-factor authentication using Duo, Okta or OneLogin
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>Teleport Alternative</h3>
              <p>
                Free alternative to Gravitational Teleport with faster implementation
              </p>
            </div>
          </div>
        </div>
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>ScaleFT Alternative</h3>
              <p>
                Open source and free alternative to ScaleFT
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-cente">
        <div class="feature col-xl-6 col-lg-6 col-md-12 col-sm-11 col-11">
          <div class="d-flex">
            <div class="p-2">
              <i class="fa fa-cloud" aria-hidden="true"></i>
            </div>
            <div class="p-2">
              <h3>CloudFlare Access Alternative</h3>
              <p>
                Open source alternative to CloudFlare Access with additional features and SSH support
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="tutorial col-xl-7 col-lg-8 col-md-9 col-sm-10 col-11">
          <h3>Gitlab Tutorial</h3>
          <p>
            Protect the Gitlab web and Git+SSH interface using zero trust authentication with Pritunl Zero. Production ready tutorial with fault tolerant Pritunl Zero servers using load balancers.
          </p>
          <a href="https://docs.pritunl.com/docs/pritunl-zero-gitlab" target="_blank"><img src="img/gitlab_diagram.png" alt="Gitlab Tutorial"/></a><br/>
          <a class="link" href="https://docs.pritunl.com/docs/pritunl-zero-gitlab">View Gitlab Tutorial</a>
        </div>
      </div>
    </div>
  </section>