  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="about col-md-4 col-sm-12 col-xs-12">
          <h3>Pritunl, Inc.</h3>
          <div>1700 7th Ave Ste 116 #211</div>
          <div>Seattle, WA 98101</div>
          <div>(206) 202-2276</div>
        </div>
        <div class="social col-md-4 col-sm-12 col-xs-12">
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <a class="mail" href="mailto:contact@pritunl.com"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="p-2">
              <a class="twitter" href="https://twitter.com/pritunl" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="p-2">
              <a class="github" href="https://github.com/pritunl" target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
        <div class="copyright col-md-4 col-sm-12 col-xs-12">
          <div class="d-flex flex-row justify-content-center flex-wrap">
            <div class="p-2">
              Pritunl, Inc &copy; 2018
            </div>
            <div class="p-2">
              <a href="https://pritunl.com/terms">Terms</a>
            </div>
            <div class="p-2">
              <a href="https://pritunl.com/privacy">Privacy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>