  <section class="intro">
{% include nav.html %}
    <div class="jumbotron">
      <h1 class="display-3">Pritunl Zero</h1>
      <p class="lead">
        Free and open source BeyondCorp server providing zero trust security for privileged access to ssh and web applications
      </p>
      <p class="lead d-flex d-flex-row justify-content-center">
        <a class="nav-link" href="https://admin-zero-demo.pritunl.com">Admin Demo</a>
        <a class="nav-link" href="https://service-zero-demo.pritunl.com">User Demo</a>
      </p>
      <p class="lead d-flex d-flex-row justify-content-center">
        <a class="nav-link" href="https://docs.pritunl.com/docs/pritunl-zero">Get Started with SSH</a>
      </p>
      <p class="lead d-flex d-flex-row justify-content-center">
        <a class="nav-link" href="https://docs.pritunl.com/docs/pritunl-zero-service">Get Started with Internal Services</a>
      </p>
    </div>
  </section>