  <section class="intro">
{% include nav.html %}
    <div class="jumbotron">
      <h1 class="display-3">Pritunl Zero</h1>
      <p class="lead">
        Open source BeyondCorp server providing zero trust security for privileged access to web applications
      </p>
      <p class="lead d-flex d-flex-row justify-content-center">
        <a class="nav-link" href="https://zero-demo.pritunl.com">Admin Demo</a>
        <a class="nav-link" href="https://zero-demo-user.pritunl.com">User Demo</a>
        <a class="nav-link" href="https://docs.pritunl.com/docs/pritunl-zero">Get Started</a>
      </p>
    </div>
  </section>