  <section class="pricing">
    <a id="pricing" class="anchor"></a>
    <div class="container">
      <div class="row">
        <div class="col-xl-2 col-lg-2"></div>
        <div class="subscription col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="subscription-box subscription-zero">
            <img src="img/logo_white.png" alt="Pritunl Zero"/>
            <h3>Zero</h3>
            <ul>
              <li>
                <span>Unlimited users</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  No limit on the number of users created or users connected
                </div>
              </li>
              <li>
                <span>Unlimited servers</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  No limit on the number of Pritunl Zero instances in a single Pritunl Zero cluster
                </div>
              </li>
              <li class="no-select">
                <span>Single sign-on</span>
                <i class="fa fa-angle-down"></i>
                <div class="info">
                  Single sign-on with OneLogin, Okta, Google and Azure
                </div>
              </li>
              <li>
                <span>Long term subscriptions</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  Contact support for long term subscriptions
                </div>
              </li>
              <li>
                <span>Free for education</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  Free subscription for qualifying users, contact support for more information
                </div>
              </li>
            </ul>
            <h4>$50/month</h4>
            <h4 data-toggle="tooltip" title="Contact support for long term subscriptions">$600/year</h4>
            <div class="alert"></div>
            <a class="credit-pay btn btn-lg">Subscribe <i class="fa fa-credit-card" aria-hidden="true"></i></a>
            <a class="apple-pay btn btn-lg"></a>
          </div>
        </div>
        <div class="subscription col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="subscription-box subscription-support">
            <img src="img/logo_white.png" alt="Pritunl Zero"/>
            <h3>Support</h3>
            <ul>
              <li>
                <span>Priority support</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  Priority support with email and live chat
                </div>
              </li>
              <li>
                <span>Live support with Slack</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  Access to private Slack channel for live chat support
                </div>
              </li>
              <li>
                <span>9am - 11pm coverage</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  Support is available 9am to 11pm PST 7 days a week
                </div>
              </li>
              <li>
                <span>30 min response time</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  Maximum 30 minute response time for issues
                </div>
              </li>
              <li>
                <span>Deployment assistance</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
                <div class="info">
                  Assistance with Pritunl Zero deployment and management
                </div>
              </li>
            </ul>
            <h4>$250/month</h4>
            <h4 data-toggle="tooltip" title="Contact support for long term subscriptions">$3000/year</h4>
            <div class="alert"></div>
            <a class="credit-pay btn btn-lg">Subscribe <i class="fa fa-credit-card" aria-hidden="true"></i></a>
            <a class="apple-pay btn btn-lg"></a>
          </div>
        </div>
      </.div>
    </div>
  </section>